.auth-form {
  display: flex;
  flex-direction: column;
}

.form {
  width: 100%;
  height: 100%;
  padding: 20%;
  display: flex;
  align-self: center;
  justify-self: center;
}

.button {
  background: #466443;
  border-radius: 10px;
  height: 40px;
  color: #b8cbb5;
  /* width: 50vh; */
  font-family: Proxima Nova;
  font-family: Elastik Medium D;
  font-size: 18px;
}

.auth-input {
  padding: 8px;
  border: solid 1px #fefffe;
  /* outline: none; */
  border-radius: 10px;
  margin-bottom: 10px;
}

.auth-input:focus {
  border: 1px solid #d4d9d7;
}

.auth-input:focus {
  border: 2px solid #d4d9d7;
}
.auth-label {
  color: #375458;
  font-family: Proxima Nova;
  font-size: 20px;
}

.button:hover {
  background: #466422;
  color: #fff;
}
